
/* 템플릿 공통 스타일 */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
}

body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Edge */
}
.template-page {
  background-color: #292929;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  box-sizing: border-box;
  display: block;
}

.template-frame {background-color: white;
  border-radius: 20px;
  /* box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2); */
  padding: 40px 30px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.main-preview {
  width: 400px;
  height: 400px;
  object-fit: cover; /* 또는 contain, 필요 시 조절 가능 */
}

iframe {
  overflow: hidden;
  border: none;
}


/* 우측 고정 버튼 영역 */
.template-buttons {
  position: absolute;
  top: 40px;
  right: -80px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.template-buttons button {
  width: 60px;
  height: 60px;
  padding: 8px;
  font-size: 12px;
  background-color: #292929;
  color: white;
  border: 1px solid #666;
  border-radius: 100%;
  cursor: pointer;
}

.template-close {
  position: fixed;  
  top: 30px;
  right: 30px;
  font-size: 50px;
  font-weight: 100;
  color: #eee;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 9999;
}

/* 저장 버튼 공통 스타일 */
.save-btn,
.download-btn {
  color: #000;
  background: none;
  border: 1px solid transparent;
  border-radius: 6px;
  padding: 10px 24px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.save-btn:hover,
.download-btn:hover {
  border-color: #cbff6e;
  color: #cbff6e;
  background: none;
}

.save-btn.active {
  color: #cbff6e;
  border-color: #cbff6e;
}

.save-btn.active:hover {
  background: none; /* 유지 */
  color: #cbff6e;
  border-color: #cbff6e;
}

.delete-btn {
  color: #fff;
  background: none;
  border: 1px solid #666;
  border-radius: 6px;
  padding: 10px 24px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
}

.delete-btn.active {
  color: #cbff6e;
  border-color: #cbff6e;
}

.delete-btn.active:hover {
  background: none;
  color: #cbff6e;
  border-color: #cbff6e;
}